$color-primary: #ffe602;
$text-h: 'Anton',
sans-serif;
$text-p: 'Kanit',
sans-serif;
$main-color: #f2f2f2;
$link-color: #000000;
$link-hover-color: #666666;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    background-color: #000000;

    .logo {
        max-width: 200px;
    }

    .nav-list {
        list-style-type: none;
        display: flex;
        gap: 16px;

        li a {
            text-decoration: none;
            color: $color-primary;
            font-size: 20px;
            font-family: $text-p;
        }

        // Se agrega una animacion al pasar sobre el enlace
        li a:hover {
            text-decoration: underline;
        }
    }

    .open-menu,
    .close-menu {
        display: none;
    }

    // Se crea un mediaquery para el menu el cual lo hace resoponsivo
    @media (max-width: 550px) {

        .open-menu,
        .close-menu {
            display: block;
            background-color: transparent;
            cursor: pointer;
            border-radius: 10px;
            font-size: 32px;
            border: none;
        }

        .open-menu {
            color: #ffffff;
            transition: 0.5s;

            &:hover {
                background-color: #494949;
            }
        }


        .close-menu {
            color: #000000;
            transition: 0.5s;

            &:hover {
                background-color: #494949;
                color: #fff;
            }
        }

        .nav {
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 16px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 32px;
            background-color: #ffffff;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

            &.visible {
                opacity: 1;
                visibility: visible;
            }

            .nav-list {
                flex-direction: column;
                align-items: end;

                a {
                    color: #000000;
                    font-size: 18px;
                    font-family: $text-p;
                }
            }
        }
    }

}

.container {
    background-image: url(../src/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .container-text {
        max-width: 600px;
        padding: 50px;

        h1 {
            font-family: $text-h;
            font-size: 70px;
            color: #ffffff;
            text-transform: capitalize;
        }

        p {
            font-family: $text-p;
            color: #ffffff;
            font-size: 24px;
        }

        .btn-container {
            margin: 10px 0;

            a {
                padding: 5px;
                background-color: #000000;
                color: #ffffff;
                text-decoration: none;
                font-family: $text-p;
                font-size: 20px;
                border-radius: 10px;
            }
        }
    }
}

.skills {
    margin: 50px 50px;

    h2 {
        margin: 20px;
        font-family: $text-h;
        color: #000000;
        text-transform: capitalize;
        text-align: center;
        font-size: 40px;
    }

    .gallery-skills {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;

        .skill {
            background-color: #b6faf7;

            .skill-icon {
                img {
                    width: 200px;
                    height: 200px;
                    margin: 15% 15% 5% 20%;
                }
            }

            h3 {
                padding: 10px;
                font-family: $text-h;
                font-size: 25px;
            }

            p {
                text-align: center;
                padding: 10px;
                font-family: $text-p;
                font-size: 18px;
            }
        }
    }
}

.about-me {
    background-image: url(../src/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;

    .container-text {
        max-width: 600px;
        padding: 50px;
        text-align: right;

        h1 {
            font-family: $text-h;
            font-size: 70px;
            color: #ffffff;
            text-transform: capitalize;
        }

        p {
            font-family: $text-p;
            color: #ffffff;
            font-size: 24px;
        }
    }
}

.ww-me {
    margin: 50px 50px;

    .reason {
        margin: 20px;

        h2 {
            font-family: $text-h;
            text-align: center;
        }
    }


    .adventages {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;

        .adventage {
            background-color: #fecffe;
            padding: 20px;


            .adventage-item {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .adventage-icon {
                img {
                    width: 100px;
                    height: auto;
                    margin: 20px;
                }
            }

            .adventage-text {
                h3 {
                    font-family: $text-h;
                }

                p {
                    font-family: $text-p;
                    text-align: center;
                    width: auto;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .adventages {
            grid-template-columns: 1fr;
        }
    }
}





footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    font-family: $text-p;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .logo {
        margin-right: 10px;

        img {
            width: 100px;
            height: auto;
        }
    }

    .text {
        flex: 1;

        p {
            color: #ffffff;
            margin: 0;

            a {
                color: $color-primary;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .gal-media {
        display: flex;
        justify-content: flex-start;

        .social {
            width: 30px;
            height: 30px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;

        .logo {
            margin-right: 0;
            margin-bottom: 10px;

            img {
                width: 80px;
            }
        }

        .gal-media {
            margin-top: 10px;
        }
    }
}