// Variables 
$color-primario: #87CEEB; //color para fondo y elementos principales
$color-secundario: #8BC34A; //para resaltar información positiva, como dias soleados
$color-terciario: #E0E0E0; // para elementos de texto y areas secundarias


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0E0E0;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 100px;
    }

    nav {
        height: 100%;

        ul {
            margin: 10px;

            li {
                background-color: $color-primario;
                display: inline-block;
                padding: 10px;
                border-radius: 5px;
                margin: 10px;
                cursor: pointer;
                color: $color-terciario;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $color-secundario;
                    color: $color-primario;
                }

                a {
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }
}

.container {
    text-align: center;
    padding: 10px;
    margin: 50px 20px 0 20px;

    h1 {
        color: #000000;
        font-size: 40px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    p {
        color: #000000;    
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
}

.busqueda {
    margin: auto;

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
        margin-top: 3%;

        img {
            height: 180px;
            width: 180px;
        }
        

        input {
            border: none;
            outline: none;
            background-color: #FFC107;
            color: #000000;
            font-size: 20px;
            padding: 10px;
            border-radius: 5px;
            width: 300px;

            &:hover {
                background-color: #eccf79;
            }
        }



        button {
            border: none;
            outline: none;
            background-color: $color-primario;
            color: #000000;
            font-size: 18px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.9s;

            &:hover {
                background-color: #8BC34A;
                transform: translateY(10px);
            }
        }
    }
}